#img_inscription
{
    float: right;
    margin-top:-10px;
    margin-right:-10px;
    width:45%;
}

html 
{ 
    overflow-y: hidden; 
} 

input[type=text], input[type=email]
{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form-group
  {
      margin-left: 3%;
  }

  h1{
      text-align: center;
     padding-top: 15px;
     padding-bottom:30px;
  }


  .btn_enr
  {
      display: flex;
      justify-content: center;
  }

